<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-content">
        <h1 class="page-title text-center">
          Vault Backup
        </h1>
        <div class="row">
          <div class="text-center mt-5 col-md-6 col-xs-12 offset-md-3" *ngIf="anyDIDsOrAddresses">
            <p class="text-center">Download your vault backup file. You can use the file to restore your vault later or import it on a different computer.</p>
            <button class="btn btn-success mt-2" (click)="backupVault()">Download</button>
          </div>
          <div class="text-center mt-5 col-md-6 col-xs-12 offset-md-3" *ngIf="!anyDIDsOrAddresses">
            <p class="text-warning text-center">You have to create at least one Identity or Address before backing up your vault</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
