<div class="heading">
  <h1 class="text-info text-center">
    Vault Backup
  </h1>
</div>
<div class="center mt-5" *ngIf="publicKeys.length > 0">
  <p class="text-center">Download your vault backup to be able to restore it</p>
  <button class="btn btn-success mt-2" (click)="downloadJSONFile()">Download</button>
</div>
<div class="center mt-5" *ngIf="publicKeys.length === 0">
  <p class="text-warning text-center">You have to import keys before backing up your vault</p>
  <button class="btn btn-success mt-2" routerLink="/vault/import">Import Keys</button>
</div>