i {
  cursor: pointer;
}

.card-header {
  text-align: center;
  cursor: pointer;
}

ul.nav li a {
  color: black !important;
}

ul.nav li a.active {
  color: #2F5BE7 !important;
}

form {
  width: 100%;
}

.fa-times {
  color: red;
}

.list-group-item {
  text-align: left;
  font-size: small;
}