<header id="main-header">
  <div class="logo-section">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-6 col-xs-6 brand-name">Kambani<sup style="color: #a89032">beta</sup></div>
        <div class="col-6 col-sm-6 col-xs-6">
          <a class="mobile-menu-toggle" (click)="toggleNavigation()" [ngClass]="{'active': openMobileNav}"><span></span></a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar" [ngClass]="{'active': openMobileNav}" (click)="toggleNavigation()">
    <div class="container">
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/home')}" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/signer')}" routerLink="/signer">
            Signing Requests
            <span class="ml-2 badge badge-light">{{pendingRequestsCount}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/dids/')}" routerLink="/dids/manage">Identities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/factom/addresses/')}" routerLink="/factom/addresses/manage">Addresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/keys/')}" routerLink="/keys/manage">Keys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/settings')}" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': checkIsActive('/vault/backup')}" routerLink="/vault/backup">Backup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="removeVault()">Remove Vault</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
