<header id="main-header">
  <div class="logo-section">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-6 col-xs-6 brand-name">WebSigner</div>
        <div class="col-6 col-sm-6 col-xs-6">
          <a href="javascript:;" class="mobile-menu-toggle" (click)="toggleNavigation()" [ngClass]="{'active': openMobileNav}"><span></span></a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar" [ngClass]="{'active': openMobileNav}">
    <div class="container">
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signer">
            Signing Requests
            <span class="ml-2 badge badge-light">{{pendingRequestsCount}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dids/manage">Manage DIDs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="factom/addresses/manage">Manage Addresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vault/backup">Backup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="removeVault()">Remove Vault</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
