$mainColor: #253992;
#main-header {
  .mobile-menu-toggle {
    display: none;
    cursor: pointer;
  }
  .logo-section {
    background: $mainColor;
    padding: 15px 0px;
    color: #fff;
    .brand-name {
      font-size: 27px;
      font-weight: 800;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .navbar {
    background: #fff;
    box-shadow: 0px 4px 35px 0px rgba(0,0,0,0.1);
    padding: 0px 0px;
    ul{
      overflow: hidden;
      width: 100%;
      margin-bottom: 0px;
      position: relative;
      li {
        float: left;
        &:not(:last-child){
          margin-right: 15px;
          @media only screen and (min-width: 768px){
            margin-right: 25px;
          }
        }
        a {
          color: $mainColor;
          display: inline-block;
          padding: 10px 0px;
          cursor: pointer;
          position: relative;
          &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $mainColor;
            opacity: 0;
            display: block;
            content: "";
            transition: opacity 0.3s ease;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
        a.active {
          border-bottom: 1px solid $mainColor;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px){
  #main-header {
    .mobile-menu-toggle {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
        float : right;
        margin-top: 7px;
        margin-right: 15px;
        @media only screen and (min-width: 768px){
            display: none;
        }
        span, span:after, span:before {
            position: absolute;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: #fff;
            display: block;
            content: "";
        }
        span:before {
            top: 10px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform,opacity;
        }
        span:after {
            top: 20px;
        }
        &.active {
            span {
                transform: translate3d(0,10px,0) rotate(45deg);
                &::before {
                    transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
                    opacity: 0;
                }
                &::after {
                    transform: translate3d(0,-20px,0) rotate(-90deg);
                }
            }
        }
    }
    .navbar {
      height: 0px;
      overflow: hidden;
      transition: height 0.3s ease;
      position: fixed;
      top: 70px;
      left: -100%;
      width: 100%;
      height: calc(100% - 70px);
      z-index: 999;
      text-align: center;
      display: block;
      padding-top: 100px;
      transition: left 0.3s ease;
      &.active {
        left: 0px;
      }
      ul {
         li {
           float: none;
         }
      }
      &.active {
        height: 100%;
      }
    }
  }
}
