<div class="steps-content">
  <h3>Create Signing keys</h3>
  <div class="collapsible collapsed mb-3" *ngFor="let key of componentKeys">
    <h3 (click)="collapse.toggle(); toggleKey(key.keyModel);" class="withoutPlus">
      <span>{{key.keyModel.alias}}</span>
      <i class="fas fa-caret-{{key.iconPosition}} text-primary"></i>
      <button class="btn btn-xs btn-danger pull-right delete-button" (click)="removeKey(key.keyModel, $event)">
        <i class="fas fa-trash"></i>
      </button>
    </h3>
    <div mdbCollapse #collapse="bs-collapse">
      <div class="form-group">
        <label class="control-label" for="purpose">Purpose type</label>
        <div>
          <label class="checkbox-inline" *ngFor="let purpose of key.purposes; let i = index;">
            <input type="checkbox" [(ngModel)]="key.purposes[i].checked" [disabled]="key.disabled">
            {{purpose.name}}
          </label>
          <div class="invalid-alert" *ngIf="!key.purposes[0].checked && !key.purposes[1].checked">
            <p>Purpose type is required!</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="type">Signature type</label>
        <input
          type="text"
          class="form-control input-md"
          id="type"
          value="{{key.keyModel.type}}"
          disabled />
      </div>

      <div class="form-group">
        <label class="control-label" for="keyController">Key controller</label>
        <input
          type="text"
          class="form-control input-md"
          id="keyController"
          #keyController="ngModel"
          [(ngModel)]="key.keyModel.controller"
          pattern="^did:factom:[abcdef0-9]{64}$"
          [ngClass]="{ 'invalid-border': keyController.invalid, 'disabled': key.disabled }"
          required />
        <div class="invalid-alert" *ngIf="keyController.errors && (keyController.dirty || keyController.touched)">
          <p *ngIf="keyController?.errors.required">Key controller is required!</p>
          <p *ngIf="keyController?.errors.pattern">Key controller must be a valid Identity!</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="keyAlias">Alias</label>
        <input
          type="text"
          class="form-control input-md"
          id="keyAlias"
          #keyAlias="ngModel"
          [(ngModel)]="key.keyModel.alias"
          pattern="^[a-z0-9-]{1,32}$"
          [ngClass]="{ 'invalid-border': keyAlias.invalid, 'disabled': key.disabled }"
          aliasvalidator
          required />
        <div class="invalid-alert" *ngIf="keyAlias.errors && (keyAlias.dirty || keyAlias.touched)">
          <p *ngIf="keyAlias?.errors.required">Alias is required!</p>
          <p *ngIf="keyAlias?.errors.pattern">Alias must not be more than 32 characters long and must contain only lower-case letters, digits and hyphens!</p>
          <p *ngIf="keyAlias?.errors.aliasvalidator">You have already used this alias!</p>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="keyPriorityRequirement">Priority Requirement</label>
        <input
          type="number"
          class="form-control input-md"
          id="keyPriorityRequirement"
          #keyPriorityRequirement="ngModel"
          [(ngModel)]="key.keyModel.priorityRequirement"
          [ngClass]="{ 'invalid-border': keyPriorityRequirement.invalid, 'disabled': key.disabled }"
          priorityminvalidator
          prioritymaxvalidator />
        <div class="invalid-alert" *ngIf="keyPriorityRequirement.errors && (keyPriorityRequirement.dirty || keyPriorityRequirement.touched)">
          <p *ngIf="keyPriorityRequirement?.errors.priorityMin">Priority requirement must be a positive number!</p>
          <p *ngIf="keyPriorityRequirement?.errors.priorityMax">Priority requirement must not be bigger than 100!</p>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="button" mdbBtn color="warning" mdbWavesEffect (click)="edit(key)" *ngIf="key.disabled">
            <i class="fas fa-edit"></i>
        </button>
        <button type="button" mdbBtn color="success" mdbWavesEffect (click)="confirm(key)" *ngIf="!key.disabled" [disabled]="keyController.invalid || keyAlias.invalid || keyPriorityRequirement.invalid || (!key.purposes[0].checked && !key.purposes[1].checked)">
          <i class="fas fa-check"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="collapsible collapsed">
    <h3 (click)="collapse.toggle()">Generate Signing Key</h3>
    <div mdbCollapse #collapse="bs-collapse">
      <form [formGroup]="keyForm" (ngSubmit)="generateKey()">
        <div class="form-group">
          <label class="control-label">Purpose type</label>
          <div>
            <label class="checkbox-inline" *ngFor="let purpose of purposes.controls; let i=index">
              <input type="checkbox" [formControl]="purpose"> {{availablePurposes[i].name}}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="type">Signature type</label>
          <select class="form-control" formControlName="type" id="type">
            <option value="Ed25519">Ed25519</option>
            <option value="ECDSASecp256k1">ECDSASecp256k1</option>
            <option value="RSA">RSA</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="controller">Key controller</label>
          <input
            type="text"
            class="form-control input-md"
            formControlName="controller"
            id="controller"
            placeholder="Key controller"
            pattern="^did:factom:[abcdef0-9]{64}$"
            [ngClass]="{ 'is-invalid': controller.touched && controller.errors }" />
          <div *ngIf="controller.errors" class="invalid-feedback">
            <div *ngIf="controller['errors'].required">Key controller is required!</div>
            <div *ngIf="controller['errors'].pattern">Key controller must be a valid Identity!</div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="alias">Alias</label>
          <input
            type="text"
            class="form-control input-md"
            formControlName="alias" id="alias"
            placeholder="Alias"
            pattern="^[a-z0-9-]{1,32}$"
            [ngClass]="{ 'is-invalid': alias.touched && alias.errors }" />
          <div *ngIf="alias.errors" class="invalid-feedback">
            <div *ngIf="alias['errors'].required">Alias is required!</div>
            <div *ngIf="alias['errors'].pattern">Alias must not be more than 32 characters long and must contain only lower-case letters, digits and hyphens!</div>
            <div *ngIf="alias['errors'].taken">You have already used this alias!</div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="priorityRequirement">
            Priority Requirement
          </label>
          <input
            type="number"
            class="form-control input-md"
            formControlName="priorityRequirement"
            id="priorityRequirement"
            [ngClass]="{ 'is-invalid': priorityRequirement.touched && priorityRequirement.errors }" />
          <div *ngIf="priorityRequirement.errors" class="invalid-feedback">
            <div *ngIf="priorityRequirement['errors'].min">Priority requirement must be a positive number!</div>
            <div *ngIf="priorityRequirement['errors'].max">Priority requirement must not be bigger than 100!</div>
          </div>
        </div>

        <div class="form-group text-center">
          <input type="submit" mdbBtn color="success" class="btn btn-block" mdbWavesEffect value="Generate key" [disabled]="keyForm.invalid" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="button-footer">
  <button class="btn-primary pull-left" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToPrevious()">Back</button>
  <button class="btn-primary pull-right" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToNext()">{{continueButtonText}}</button>
</div>
