<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-content">
        <h1 class="page-title text-center">
          Provide DID
        </h1>
        <div class="row">
          <div class="col-xs-12 offset-sm-3 col-sm-6">
            <form [formGroup]="provideForm">
              <div class="form-group">
                <label class="control-label" for="didId">Enter DID Id</label>
                <input
                  type="text"
                  class="form-control input-md"
                  formControlName="didId"
                  id="didId"
                  placeholder="DID Id"
                  pattern="^did:fctr:[abcdef0-9]{64}$"
                  [ngClass]="{ 'is-invalid': didId.touched && didId.errors }" />
                <div *ngIf="didId.errors" class="invalid-feedback">
                  <div *ngIf="didId.errors['required']">DID Id is required!</div>
                  <div *ngIf="didId.errors['pattern']">DID Id must be a valid DID!</div>
                </div>
              </div>
            </form>
            <div class="button-holder mt-4">
              <button class="btn-primary pull-left" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToPrevious()">Back</button>
              <button class="btn-primary pull-right" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToNext()" [disabled]="!didId.valid">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
