<div class="steps-content">
    <h3>Select DID to Update</h3>
    <form [formGroup]="provideForm">
      <div class="form-group">
        <select class="form-control" formControlName="didId" id="didId">
          <option [value]="didId" *ngFor="let didId of didIds">{{didId}}</option>
        </select>
      </div>
    </form>
</div>
<div class="button-footer">
  <button class="btn-primary pull-left" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToPrevious()">Back</button>
  <button class="btn-primary pull-right" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToNext()" [disabled]="!didId.valid">Next</button>
</div>
