<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>
  <div class="modal-body mt-3">
    <p>Do you really want close the form? You will lose your current progress.</p>
  </div>
  <div class="modal-footer justify-content-center mt-2">
    <button type="button" class="btn-danger mr-3" mdbBtn color="danger" mdbWavesEffect data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn-primary ml-3" mdbBtn color="primary" mdbWavesEffect (click)="activeModal.close('confirm')">Confirm</button>
  </div>
</div>
