$mainColor: #2F5BE7;
.table-holder {
  margin: 20px 0px;
  table {
    width: 100%;
    white-space: nowrap;
    thead {
      th {
        color: #253992;
        text-transform: uppercase;
        font-size: 12px;
        border-top: 0px;
        border-bottom-width: 1px;
      }
    }
    tbody {
      tr {
        td:first-child {
          span {
            width: 165px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            font-weight: 700;
          }
        }
        .counter-label {
          display: inline-block;
          width: 20px;
          line-height: 20px;
          text-align: center;
          background: $mainColor;
          color: #fff;
          border-radius: 50%;
          // transition: box-shadow 0.3s ease;
          font-size: 12px;
          // &:hover {
          //   text-decoration: none;
          //   box-shadow: 0 0 0 3px rgba(47, 91, 231, 0.5);
          // }
        }
        td:last-child {
          button:not(:last-child) {
            margin-right: 3px;
          }
        }
      }
    }
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fdfdfd;
  }
  .did-link {
    color: #333;
    font-family: monospace, monospace;
    font-size: 16px;
  }
}
.paginator {
  a {
    display: inline-block;
    background: #E0E8F3;
    padding: 7.5px 15px;
    text-transform: uppercase;
    color: $mainColor;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-decoration: none!important;
    &:not(.disabled):hover {
      background: $mainColor;
      color: #fff;
    }
    &.disabled {
      color: #495463;
      cursor: not-allowed;
      pointer-events: none;
    }
    &:first-child {
      margin-right: 10px;
    }
  }
}
a {
  cursor: pointer;
}
.formScreen {
  width: 90%;
  height: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: -480px;
  z-index: 99;
  transition: right 0.3s ease;

  .closeForm {
    position: absolute;
    left: 0px;
    width: 80px;
    height: 80px;
    background: #fff;
    display: block;
    top: 50%;
    margin: -40px 0px 0px -80px;
    z-index: 1;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background: url("/assets/next-page.svg");
      background-size: 40px 40px;
      margin: 20px 20px;
    }
  }
  @media only screen and (max-width: 768px){
    max-width: calc(100% - 40px);
    .closeForm {
      width: 40px;
      height: 40px;
      margin-left: -40px;
      &::before {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        margin: 5px;
      }
    }
  }
  .formContent {
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .scrollArea {
      padding: 15px;
      h1 {
        font-size: 16px !important;
        text-transform: uppercase;
        font-weight: 600;
        /* text-align: center; */
        border-bottom: 3px solid #fbfbfb;
        padding-bottom: 8px;
      }
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 70px;

    }
  }
  &::before {
    content: "";
    display: block;
    background: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease;
  }
  &.active {
    right: 0;
    &::before {
      right: 0;
    }
  }
}
.header-search {
  width: 300px;
  input {
    width: calc(300px - 43px);
    float: left;
    height: 40px;
  }
  button {
    float: right;
  }
}
.copy-didid {
  position: relative;
  bottom: 5px;
  margin-left: 15px;
  cursor: pointer;
  &::before {
    content: "Copied!";
    padding: 5px 15px;
    color: #fff;
    background: #4caf50;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    border-radius: 4px;
    display: none;
  }
  &::after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #4caf50;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: none;
  }
  &.clicked {
    &::before, &::after {
      display: inline-block;
    }
  }
}
