<div class="heading">
  <h1 class="text-info text-center">
    Import Keys
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3 class="m-2">How would you like to import your keys?</h3>
      <div class="bs-component radio-btns">
        <form #form="ngForm">
          <fieldset class="form-group">
            <div class="radiobtn m-2">
              <label class="form-check-label">
                <input type="radio" value="keystore" name="type" [(ngModel)]="importType">
                Keystore / JSON File
              </label>
            </div>
            <div class="radiobtn m-2">
              <label class="form-check-label">
                <input type="radio" value="privateKey" name="type" [(ngModel)]="importType">
                Private Key
              </label>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="importType == 'keystore'">
        <h3 class="title">Select Your Keys File</h3>
        <div class="form-group">
          <input type="file" id="file" (change)="handleFileInput($event.target.files)">
        </div>
        <form [formGroup]="jsonFilePasswordForm" (ngSubmit)="importJsonFile()" *ngIf="file">
          <div class="form-group row mb-2">
            <label for="password" class="col-sm-2 col-form-label">Password: </label>
            <div class="col-sm-10">
              <input 
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': password.touched && password.errors }" />
                <div *ngIf="password.errors" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Password is required!</div>
                </div>
            </div>
          </div>
          <input type="submit" class="btn btn-sm btn-info" value="Import Keys" [disabled]="jsonFilePasswordForm.invalid" />
        </form>
      </div>
      <div *ngIf="importType == 'privateKey'">
        <h3 class="title">Enter Your Private Key</h3>
        <form [formGroup]="privateKeyForm" (ngSubmit)="importPrivateKey()">
          <div class="col-sm-10 mb-4">
            <textarea 
              class="form-control" 
              formControlName="privateKey"
              [ngClass]="{ 'is-invalid': privateKey.touched && privateKey.errors }">
            </textarea>
            <div *ngIf="privateKey.errors" class="invalid-feedback">
              <div *ngIf="privateKey.errors.required">Private key is required!</div>
            </div>
          </div>
          <input type="submit" class="btn btn-sm btn-info" value="Import Key" [disabled]="privateKeyForm.invalid" />
        </form>
      </div>
    </div>
  </div>
</div>

