<div class="row bg-dark">
  <div class="col-sm-12 mt-5">
    <div class="text-center text-white text-uppercase">
      <p>Remove Vault</p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="modal-body">
      <p class="text-center text-white">Are you sure you want to remove the vault? You will only be able to restore it from a backup or by manually re-importing all the keys</p>
      <div class="form-group mt-5">
        <div class="text-center">
          <button type="button" class="btn btn-md btn-light mr-3" (click)="onConfirm()">Confirm</button>
          <button type="button" class="btn btn-md btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
