<div class="steps-content">
  <h3>Identity preview</h3>
  <div *ngIf="selectedAction == actionType.CreateBasic" class="alert alert-info" role="alert">
    <p class="text-center">You are about to create a new Digital Identity with:</p>
    <ul>
      <li>one Management key</li>
      <li>one Signing key</li>
    </ul> 
  </div>
  <div *ngIf="selectedAction == actionType.CreateAdvanced">
    <pre><code mwlHighlightJs [source]='entryPretified' language="json"></code></pre>
  </div>
  <div class="button-footer">
    <button class="btn-primary pull-left" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToPrevious()">Back</button>
    <button class="btn-primary pull-right" mdbBtn type="button" color="primary" mdbWavesEffect (click)="recordOnChain()">Create</button>
  </div>
</div>
