$mainColor: #2F5BE7;
.steper {
  overflow: hidden;
  text-align: center;
  margin: 20px 0px;
  a {
    width: 30px;
    height: 30px;
    display: inline-block;
    &:not(:last-child){
      margin-right: 10px;
    }
    text-decoration: none;
    border: 2px solid $mainColor;
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    &.active {
      background: $mainColor;
      color: #fff;
    }
  }
}
.steps-content {
  h3 {
    text-align: center;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    margin: 35px 0px;
  }
}
.button-footer {
  bottom: 20px;
  position: absolute;
  width: calc(100% - 30px);
}
