.btn-warning:focus {
  outline: none !important;
  border: none !important;
}
.button-holder {
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
}
$mainColor: #2F5BE7;
.steper {
  overflow: hidden;
  text-align: center;
  margin: 20px 0px;
  a {
    width: 30px;
    height: 30px;
    display: inline-block;
    &:not(:last-child){
      margin-right: 10px;
    }
    text-decoration: none;
    border: 2px solid $mainColor;
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    &.active {
      background: $mainColor;
      color: #fff;
    }
  }
}
.steps-content {
  h3 {
    text-align: center;
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    margin: 35px 0px;
  }
  .choose-action {
    label {
      display: block;
      width: 100%;
      padding: 10px 10px;
      border: 3px solid $mainColor;
      border-radius: 4px;
      text-decoration: none;
      position: relative;
      transition: all 0.3s ease;
      padding-left: 31px;
      &::before {
        width: 13px;
        height: 13px;
        border: 2px solid #353535;
        position: absolute;
        border-radius: 50%;
        top: 13px;
        left: 10px;
        content: "";
        display: inline-block;
      }
      &:hover {
        background: $mainColor;
        color: #fff;
        &::before {
          border-color: #fff;
        }
      }
      &.active {
        background: $mainColor;
        color: #fff;
        &::before {
          border-color: #fff;
        }
        &::after {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          content: "";
          display: inline-block;
          background: #fff;
          top: 17px;
          left: 14px;
          position: absolute;
        }
      }
      input {
        opacity: 0;
        position: absolute;
      }
    }
    .next-step {
      bottom: 20px;
      position: absolute;
      width: calc(100% - 30px);
    }
  }
}
.button-footer {
  bottom: 20px;
  position: absolute;
  width: calc(100% - 30px);
}
