<form #actionForm="ngForm">
  <div class="form-horizontal">
    <div class="tab-pane fade in active">
      <h4 class="head text-center">Choose an action</h4>
      <br/>
      <div class="row">
        <div class='col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-12 col-md-offset-4 col-md-4'>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" #action="ngModel" required name="action" [(ngModel)]="actionType" value="create-basic">
                Create Paper DID (Basic Mode)
              </label>
            </div>
            <div class="radio mt-3">
              <label>
                <input type="radio" #action="ngModel" required name="action" [(ngModel)]="actionType" value="create-advanced">
                Create Paper DID (Advanced Mode)
              </label>
            </div>
            <div class="radio mt-3">
              <label>
                <input type="radio" #action="ngModel" required name="action" [(ngModel)]="actionType" value="update">
                Update Existing DID
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn-md-blue" mdbBtn type="button" color="primary" mdbWavesEffect [disabled]="!actionForm.valid" (click)="goToNext()"> Start </button>
      </div>
    </div>
  </div>
</form>
