<div class="row bg-dark">
  <div class="col-sm-12 mt-5">
    <div class="text-center text-white text-uppercase">
      <p>Close Vault</p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="modal-body">
      <p class="text-center text-white">Do you want to close the vault? Make sure you have downloaded the backup file as it is the only way to restore it later on</p>
      <div class="form-group mt-5">
        <div class="text-center">
          <button type="button" class="btn btn-md btn-light mr-3" (click)="onConfirm()">Confirm</button>
          <button type="button" class="btn btn-md btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>