<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-content">
        <h1 class="page-title text-center">
          Available DIDs
        </h1>
        <div class="row">
          <div class="mt-4 list-group col-md-4 offset-md-4 mt-3" *ngIf="didIds.length > 0">
            <div class="list-group-item list-group-item-action" *ngFor="let didId of didIds">
              <h5 class="text-center font-italic text-info">{{didId.substring(0, 20)}}...</h5>
              <button class="btn btn-warning" (click)="backupDid(didId)">Backup</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 text-center mt-5" *ngIf="!didIds || didIds.length === 0">
            <p class="text-warning text-center">You have not created any DIDs yet</p>
            <button class="btn btn-success mt-2" routerLink="/dids/manage">Create DID</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
