$mainColor: #2F5BE7;
.table-holder {
    margin: 20px 0px;
    overflow-x: scroll;
    table {
        width: 100%;
        white-space: nowrap;
        thead {
            th {
                color: #253992;
                text-transform: uppercase;
                font-size: 12px;
                border-top: 0px;
                border-bottom-width: 1px;
            }
        }
        tbody {
            tr {
                td:first-child {
                    span {
                        width: 150px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        font-weight: 700;
                    }
                }
                .counter-label {
                    display: inline-block;
                    width: 20px;
                    line-height: 20px;
                    text-align: center;
                    background: $mainColor;
                    color: #fff;
                    border-radius: 50%;
                    transition: box-shadow 0.3s ease;
                    font-size: 12px;
                    &:hover {
                        text-decoration: none;
                        box-shadow: 0 0 0 3px rgba(47, 91, 231, 0.5);
                    }
                }
                td:last-child {
                    a:not(:last-child) {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #fdfdfd;
    }
}
.paginator {
    a {
        display: inline-block;
        background: #E0E8F3;
        padding: 7.5px 15px;
        text-transform: uppercase;
        color: $mainColor;
        font-weight: 600;
        border-radius: 4px;
        transition: all 0.3s ease;
        text-decoration: none!important;
        &:not(.disabled):hover {
            background: $mainColor;
            color: #fff;
        }
        &.disabled {
            color: #495463;
        }
        &:first-child {
            margin-right: 10px;
        }
    }
}