<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-content">
        <h1 class="page-title text-center">
          Signing Requests
          <span class="ml-2 badge badge-light">{{pendingRequestsCount}}</span>
        </h1>
        <div class="row">
          <div class="mt-3 col-xs-12 col-md-6 offset-md-3" *ngIf="request">
            <p class="mb-3 text-center">Received from:</p>
            <p class="mb-4 text-center">{{from}}</p>
            <div class="form-group" *ngIf="requestType == RequestType.Data">
              <label>Data to sign:</label>
              <pre><code mwlHighlightJs [source]='dataToSign' language="json"></code></pre>
            </div>
            <div class="form-group" *ngIf="requestType == RequestType.Pegnet">
              <div *ngIf="txType == TransactionType.Burn">
                <label>FCT Burning Transaction:</label>
                <dl>
                  <dt>FCT Address</dt>
                  <dd>{{minifyAddress(selectedFactomAddress)}}</dd>
                  <dt>Amount</dt>
                  <dd>{{toHumanReadable(inputAmount)}} FCT</dd>
                </dl>
              </div>
              <div *ngIf="txType == TransactionType.Conversion">
                <label>PegNet Conversion Transaction:</label>
                <dl>
                  <dt>Address</dt>
                  <dd>{{minifyAddress(selectedFactomAddress)}}</dd>
                  <dt>Input Asset</dt>
                  <dd>{{inputAsset}}</dd>
                  <dt>Input Amount</dt>
                  <dd>{{toHumanReadable(inputAmount)}}</dd>
                  <dt>Output Asset</dt>
                  <dd>{{outputAsset}}</dd>
                </dl>
              </div>
              <div *ngIf="txType == TransactionType.Transfer">
                <label>PegNet Transfer Transaction:</label>
                <dl>
                  <dt>From</dt>
                  <dd>{{minifyAddress(selectedFactomAddress)}}</dd>
                  <dt>To</dt>
                  <dd>{{minifyAddress(outputAddress)}}</dd>
                  <dt>Asset</dt>
                  <dd>{{inputAsset}}</dd>
                  <dt>Amount</dt>
                  <dd>{{toHumanReadable(inputAmount)}}</dd>
                </dl>
              </div>
            </div>
            <div *ngIf="requestKeyType == RequestKeyType.DIDKey || requestKeyType == RequestKeyType.ManagementKey">
              <div *ngIf="selectedDIDId">
                <label for="selectDID">Choose Identity to sign with:</label>
                <select class="form-control" id="selectDID" [disabled]="didIdSpecified" (ngModelChange)="onSelectDIDChange($event)" [ngModel]="selectedDIDId">
                  <option [value]="didId" *ngFor="let didId of availableDIDIds">{{allDIDsPublicInfo[didId].nickname}}</option>
                </select>
              </div>
              <div *ngIf="selectedDIDId">
                <label for="selectKey">Choose key to sign with:</label>
                <select class="form-control" id="selectKey" [disabled]="didKeySpecified" (ngModelChange)="onSelectDIDKeyChange($event)" [ngModel]="selectedDIDKeyId">
                  <option [value]="key.id" *ngFor="let key of availableDIDKeys">{{key.id.split('#')[1]}}</option>
                </select>
              </div>
              <div *ngIf="allDIDIds.length === 0" class="center mt-5">
                <p class="text-warning text-center">You need to create an Identity in order to sign the data.</p>
              </div>
              <div *ngIf="allDIDIds.length > 0 && RequestKeyType.DIDKey && didIdsWithDIDKeys === 0" class="center mt-5">
                <p class="text-warning text-center">You need to create an Identity with a Signing Key in order to sign the data.</p>
              </div>
            </div>
            <div *ngIf="requestKeyType == RequestKeyType.FCT || requestKeyType == RequestKeyType.EC">
              <div *ngIf="selectedFactomAddress">
                <label for="selectAddress">Choose {{requestKeyType.toUpperCase()}} address to sign with:</label>
                <select class="form-control" id="selectAddress" [disabled]="factomAddressSpecified" (ngModelChange)="onSelectAddressChange($event)" [ngModel]="selectedFactomAddress">
                  <option [value]="address" *ngFor="let address of availableFactomAddresses">{{availableFactomAddressesPublicInfo[address]}}</option>
                </select>
              </div>
              <div *ngIf="!selectedFactomAddress" class="center mt-5">
                <p class="text-warning text-center">You need to import or generate an {{requestKeyType.toUpperCase()}} address in order to sign the data.</p>
              </div>
            </div>
            <div *ngIf="requestKeyType == RequestKeyType.BlockSigningKey">
              <div *ngIf="selectedKey">
                <label for="selectKey">Choose Block Signing key to sign with:</label>
                <select class="form-control" id="selectKey" [disabled]="keySpecified" (ngModelChange)="onSelectKeyChange($event)" [ngModel]="selectedKey">
                  <option [value]="key" *ngFor="let key of blockSigningKeys">{{blockSigningKeysPublicInfo[key]}}</option>
                </select>
              </div>
              <div *ngIf="!selectedKey" class="center mt-5">
                <p class="text-warning text-center">You need to import a Block Signing key in order to sign the data.</p>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
              <button class="btn btn-success mr-1" (click)="signData()" *ngIf="selectedDIDKeyId || selectedFactomAddress || selectedKey">
                Sign {{requestType == RequestType.Data ? 'Data' : 'Transaction'}}
              </button>
              <button class="btn btn-info ml-1 mr-1" (click)="skipSigning()" *ngIf="pendingRequestsCount > 1">Skip</button>
              <button class="btn btn-danger ml-1" (click)="cancelSigning()">Cancel</button>
            </div>
          </div>
          <div class="mt-5 col-xs-12 col-md-6 offset-md-3" *ngIf="!request">
            <p class="text-warning text-center">You do not have any pending requests</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
