<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Backup Your Vault</h4>
  </div>
  <div class="modal-body mt-3 text-center">
    <p>Your vault has been updated to the latest version! Please download the backup file to be able to restore it. Following this, you can remove previously created backup files.</p>
  </div>
  <div class="modal-footer justify-content-center mt-2">
    <button type="button" class="btn-success" mdbBtn color="success" mdbWavesEffect (click)="onConfirm()">Download</button>
  </div>
</div>