.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.basic-mode-liner {
  width: 70%;
}

.basic-mode-tabs>li {
  width: 33%;
}

.update-liner {
  width: 80%;
}

.update-tabs>li {
  width: 14%;
}