<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" [ngClass]="getTabsCss()">
    <div class="liner" [ngClass]="getLinerCss()"></div>
                  
    <li class="inactiveLink" routerLink="{{tabLink}}" routerLinkActive="active" *ngFor="let tabLink of tabLinks; let i = index">
      <a [ngClass]="{ 'active': currentStepIndex >= i + 1 }" data-toggle="tab">
        <span class="round-tabs mdblue">
          <span class="circle">{{i + 1}}</span>
        </span>
      </a>
    </li>
  </ul>

  <div class="clearfix"></div>
</div>

<script src="assets/js/loading-bars.js"></script>
