<app-navbar *ngIf="vaultService.vaultExists()"></app-navbar>
<ngx-spinner
  bdColor = "rgba(255,255,255,0.8)"
  size = "default"
  color = "#f30606"
  type = "ball-atom">
  <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<footer id="main-footer" *ngIf="router.url !== '/vault/create'">
  <div class="container mt-3">
    <p class="powered-by">Powered by</p>
    <div class="row powered-by-logos">
      <div class="col-12">
        <img src="/assets/factomatic-logo-transparent.png" alt="" />
        <img src="/assets/factom-protocol.png" alt="" />
      </div>
    </div>
  </div>
</footer>
