<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">OPEN VAULT</h4>
  </div>
  <div class="modal-body mt-3">
    <form [formGroup]="passwordForm" (submit)="onConfirm()">
      <div class="form-group">
        <label class="ml-2 mb-4" for="password" innerHTML="{{message}}"></label>
        <input 
          class="form-control" 
          type="password"
          id="password" placeholder="Vault Password"
          formControlName="password"
          name="password"
          required >
      </div>
      <div class="form-group">
        <div class="text-center">
          <input type="submit" class="btn-primary mr-3" mdbBtn color="primary" mdbWavesEffect value="Open" [disabled]="!passwordForm.valid">
          <button type="button" class="btn-danger ml-3" mdbBtn color="danger" mdbWavesEffect (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
