<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-content">
        <h1 class="page-title text-center">
          Encrypt your keys
          <ng-template #tipContent>{{headerTooltipMessage}} <b>{{boldPartTooltipMessage}}</b></ng-template>
          <i class="fas fa-info-circle fa-sm ml-4" [ngbTooltip]="tipContent" tooltipClass="custom-tooltip"></i>
        </h1>
        <div class="row">
          <div class="col-xs-12 offset-sm-3 col-sm-6">
            <div class="alert alert-info text-center" role="alert" *ngIf="!keysGenerated">
              <i class="fas fa-info mr-4"></i>
              You have not generated any keys.
            </div>
            <form [formGroup]="encryptForm" (ngSubmit)="encryptKeys()" *ngIf="keysGenerated">
              <div class="form-group">
                <label class="control-label" for="password">Enter password</label>
                <input
                  type="password"
                  class="form-control input-md"
                  formControlName="password"
                  id="password"
                  placeholder="Password"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$"
                  [ngClass]="{ 'is-invalid': password.touched && password.errors }" />
                <div *ngIf="password.errors" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Password is required!</div>
                  <div *ngIf="password.errors.pattern">Password must be at least 8 characters long and must include at least one lower-case letter, one upper-case letter, one digit and one special character!</div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="confirm-password">Confirm password</label>
                <input
                  type="password"
                  class="form-control input-md"
                  formControlName="confirmPassword"
                  id="confirm-password"
                  placeholder="Confirm Password"
                  [ngClass]="{ 'is-invalid': confirmPassword.touched && (confirmPassword.errors || encryptForm.errors?.passwordsMismatch) }" />
                <div *ngIf="confirmPassword.errors || encryptForm.errors?.passwordsMismatch" class="invalid-feedback">
                  <div *ngIf="confirmPassword.errors?.required">Confirm password is required!</div>
                  <div *ngIf="encryptForm.errors?.passwordsMismatch">Passwords do not match!</div>
                </div>
              </div>

              <div class="form-group text-center">
                <input type="submit" mdbBtn color="success" mdbWavesEffect value="Encrypt keys" [disabled]="encryptForm.invalid" />
              </div>
            </form>
            <div *ngIf="encryptedFile" class="mt-5 text-center">
              <p class="text-center text-warning">Download your keystore file! You must download it to continue with the next step.</p>
              <button mdbBtn type="button" color="warning" mdbWavesEffect class="mt-3" (click)="downloadFile()">Download File</button>
            </div>
            <div class="mt-4 button-holder">
              <button class="btn-primary pull-left" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToPrevious()">Back</button>
              <button class="btn-primary pull-right" mdbBtn type="button" color="primary" mdbWavesEffect (click)="goToNext()" [disabled]="!fileDowloaded && keysGenerated"> {{continueButtonText}}</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
