<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="page-content">
        <h1 class="page-title text-center">Your DID has been created</h1>
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-info" role="alert">
              <p class="text-center">You're done! Your DID has been created and is <b>{{didId}}</b></p>
              <p class="mt-3 ml-4">Currently, your DID entry is in the
              process of being recorded on the Factom blockchain and it shoud be included in the next block.
              You can track the progress in the blockchain explorer.
              <a href="{{externalLink}}" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
              <p class="ml-4">The DID is also available in the file you downloaded, should you need to reference it at a later point.</p>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn-primary" mdbBtn type="button" color="primary" mdbWavesEffect (click)="chooseAnotherAction()">Choose Another Action</button>
        </div>
      </div>
    </div>
  </div>
</div>
