<div class="steps-content">
  <h3>Your DID has been created</h3>
  <div class="alert alert-info" role="alert">
    <p class="text-center">You're done! Your DID has been created and is <b>{{didId}}</b></p>
    <p class="mt-3 ml-4">Currently, your DID entry is in the
    process of being recorded on the Factom blockchain and it shoud be included in the next block.
    You can track the progress in the blockchain explorer.
    <a href="{{externalLink}}" target="_blank"><i class="fas fa-external-link-alt"></i></a></p>
  </div>
  <button class="btn btn-primary btn-block next-step" mdbBtn type="button" color="primary" mdbWavesEffect (click)="createAnotherDID()">Create Another DID</button>
</div>
