<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signer">
            Signing Requests
            <span class="ml-2 badge badge-light">{{pendingRequestsCount}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/import">Import Keys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/backup">Backup</a>
        </li>
      </ul>
    </div>
  </nav>
</div>