.navbar-toggler:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}