<div class="heading">
  <h1 class="text-info text-center">
    Restore Vault
  </h1>
</div>
<div class="mt-5 col-md-4 offset-md-4">
  <h3 class="title">Select Your Backup File</h3>
  <div class="form-group mt-2">
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <form [formGroup]="backupPasswordForm" (ngSubmit)="importVault()">
    <div class="form-group row mb-2">
      <label for="password" class="col-md-2 col-form-label">Password: </label>
      <div class="col-md-12">
        <input 
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': password.touched && password.errors }" />
          <div *ngIf="password.errors" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required!</div>
          </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <input type="submit" class="btn btn-info mr-1" value="Restore" [disabled]="backupPasswordForm.invalid || !this.file" />
      <button type="button" class="btn btn-danger ml-1" routerLink="/vault/create">Cancel</button>
    </div>
  </form>
</div>
