<div class="steps-content">
  <form class="action-form" #actionForm="ngForm">
    <h3>Choose an action</h3>
    <div class="choose-action">
      <label [ngClass]="{'active': actionType=='create-basic'}">
        <input type="radio" #action="ngModel" required name="action" [(ngModel)]="actionType" value="create-basic">
        Create Identity (Basic Mode)
      </label>
      <label [ngClass]="{'active': actionType=='create-advanced'}">
        <input type="radio" #action="ngModel" required name="action" [(ngModel)]="actionType" value="create-advanced">
        Create Identity (Advanced Mode)
      </label>
      <button class="btn btn-primary btn-block next-step" mdbBtn type="button" color="primary" mdbWavesEffect [disabled]="!actionForm.valid" (click)="goToNext()">Next</button>
    </div>
  </form>
</div>
