#create-vault {
  .auth-side {
    width: 100%;
    min-height: 100vh;
    @media only screen and (min-width: 768px){
      width: 50%;
      float: left;
      display: -webkit-flex;
      -webkit-align-items: center;
      display: flex;
      align-items: center;
    }

    .form-container {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      .heading {
        margin: 0 0 30px 0;
        h1 {
          font-size: 23px;
          font-weight: 700;
        }
      }
      .btn-primary {
        width: 100%;
        display: block;
      }
    }
    @media only screen and (max-width: 768px){
      background-image: url("/assets/crypto-auth.png");
      background-size: cover;
      background-position: 50% 50%;
      .form-container {
        border-radius: 9px;
        background: #fff;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        max-width: none;
      }
    }
  }
  .background-side {
    min-height: 100vh;
    display: none;
    @media only screen and (min-width: 768px){
      width: 50%;
      float: left;
      background-image: url("/assets/crypto-auth.png");
      background-size: cover;
      background-position: 50% 50%;
      display: block;
    }
  }
  .form-control.is-invalid{
    background-image: none;
  }
}
